.dlmodes[mode] {
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-width: 0;
  border-radius: 30px;
  box-shadow: 0 0 20px #00000050;
  outline: none;
  transition: all 0.25s;
  /* addition */
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.dlmodes[mode]:hover {
  box-shadow: 0 0 25px #00000050;
}

.dlmodes[mode]:active {
  box-shadow: 0 0 0 #00000050;
}

.dlmodes[mode="light"] {
  background-color: #151515;
  background-image: url(./img/dark-mode.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.dlmodes[mode="dark"] {
  background-color: #CECECE;
  background-image: url(./img/light-mode.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/* dark-mode settings */
.dark-mode {
  transition: all 0.25s;
}

body.dark-mode {
  background-color: #151515;
  color: #EEEEEE;
}

body.dark-mode>.row>.col>.card {
  background-color: #303030;
  border: none;
}

body.dark-mode>.row>.col>.card:hover {
  background-color: #505050;
}

body.dark-mode>.row>.col>.card>p {
  color: #EEEEEE90;
}
