/* :root */
:root {
  --default-bg: #ffffff;
  --default-txt: #000000;
  --default-bg-hover: #efefef;
  --default-txt-hover: #000000;
  --default-bg-active: #dfdfdf;
  --default-txt-active: #000000;
  --default-shadow: rgba(0, 0, 0, 0.1);
  --default-timing-function: cubic-bezier(0, 1, 0.5, 1);
  --block-bg: rgba(255, 255, 255, 0.5);
  --content-bg: #fafafa;
  --controls-bg: #f0f0f0;
  --controls-bg-hover: #fafafa;
  --go-left: -16px;
  --go-right: 16px;
}

div[type="search"] {
  background-image: url(./img/search-dark.png);
}

div[type="book"] {
  background-image: url(./img/book-dark.png);
}

div[type="settings"] {
  background-image: url(./img/settings-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-bg: #000000;
    --default-txt: #efefef;
    --default-bg-hover: #101010;
    --default-txt-hover: #efefef;
    --default-bg-active: #202020;
    --default-txt-active: #efefef;
    --default-shadow: #000000;
    --default-timing-function: cubic-bezier(0, 1, 0.5, 1);
    --block-bg: rgba(0, 0, 0, 0.5);
    --content-bg: #101010;
    --controls-bg: #202020;
    --controls-bg-hover: #404040;
    --go-left: -16px;
    --go-right: 16px;
  }

  div[type="search"] {
    background-image: url(./img/search-light.png);
  }

  div[type="book"] {
    background-image: url(./img/book-light.png);
  }

  div[type="settings"] {
    background-image: url(./img/settings-light.png);
  }
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

html, body, .navigation-layout {
  background-color: var(--content-bg);
  color: var(--default-txt);
  height: 100%;
  width: 100%;
}

* {
  user-select: none;
}

.nav-title {
  transition: all 0.25s;
}

.opacity-hide {
  opacity: 0;
  pointer-events: none;
}

.shadow-default {
  box-shadow: 0 0 40px var(--default-shadow);
}

@media screen and (max-width:700px) {

  /* for screen that width <= 700px */
  .title-bar, .navigation {
    z-index: 2000;
  }

  .content {
    padding: 45px 0;
    width: 100%;
    height: 100%;
  }

  .page {
    opacity: 0;
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    z-index: -1000;
    transition: all 0.25s;
  }

  .page.active {
    top: 45px;
    opacity: 1;
    z-index: 1000;
  }

  .title-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--block-bg);
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }

  .navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    margin: 0;
    background-color: var(--block-bg);
    backdrop-filter: blur(1rem);
    border-top: 1px solid rgba(128, 128, 128, 0.1);
  }

  .nav-title {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }

  .tab {
    padding: 5px;
    text-align: center;
    transition: all 0.15s;
  }

  .tab.active>.icon {
    filter: drop-shadow(0 2px 5px #0e73ff);
  }

  .tab:active {
    background-color: var(--default-bg-active);
    color: var(--default-txt-active);
  }

  .tab>.icon {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin: 0 auto;
  }

  .tab>.description {
    color: #80808080;
    line-height: 10px;
    font-size: 8px;
    margin: 0;
  }
}

@media screen and (min-width:700px) {

  /* for screen that width >= 700px */
  .go-left {
    transform: translate(var(--go-left), 0);
  }

  .go-right {
    transform: translate(var(--go-right), 0);
  }

  .page.go-left {
    transform: translate(calc(var(--go-left) * 2), 0);
  }

  .page.go-right {
    transform: translate(calc(var(--go-right) * 2), 0);
  }

  .content {
    margin-left: 30%;
    width: 70%;
    height: 100%;
  }

  .page {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    z-index: -1000;
    transition: all 0.5s;
  }

  .page.active {
    left: 30%;
    opacity: 1;
    z-index: 1000;
  }

  .title-bar {
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 40px var(--default-shadow);
  }

  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    display: block;
    margin: 0;
    box-shadow: 0 0 40px var(--default-shadow);
  }

  .nav-title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem;
  }

  .nav-title::after {
    position: relative;
    left: 0;
    content: ">";
    font-family: Consolas;
    color: #0e73e0;
    transition: all 0.25s;
  }

  .nav-title.go-left::after {
    left: var(--go-left);
  }

  .nav-title.go-right::after {
    left: var(--go-right);
  }

  .tab {
    width: 100%;
    padding: 4px 10px;
    text-align: left;
    transition: all 0.15s;
    line-height: 30px;
  }

  .tab.active {
    background-color: var(--default-bg-active);
    color: var(--default-txt-active);
  }

  .tab:active {
    background-color: var(--default-bg-active);
    color: var(--default-txt-active);
  }

  .tab>.icon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    display: inline-block;
  }

  .tab>.description {
    vertical-align: middle;
    color: var(--default-txt);
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    display: inline-block;
  }
}

.page>.center {
  width: min-content;
  max-width: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 8px;
}

.page[tab="search"]>.center>h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
  transition: all 0.25s;
}

.page[tab="search"]>.center>h1::after {
  position: relative;
  left: 0;
  content: ">";
  font-family: Consolas;
  color: #0e73e0;
  transition: all 0.25s;
}

.page[tab="search"]>.center>input {
  width: 240px;
  max-width: 100%;
  height: 48px;
  border: none;
  border-radius: 16rem;
  outline: none;
  padding: 16px 16px;
  background-color: var(--controls-bg);
  color: var(--default-txt);
  transition: all 0.25s;
}

.page[tab="search"]>.center:hover>h1 {
  margin-left: 4px;
}

.page[tab="search"]>.center:hover>h1::after {
  left: 8px;
}

.page[tab="search"]>.center:hover>input {
  background-color: var(--controls-bg-hover);
  transform: translate(0, -4px);
  box-shadow: 0 4px 8px var(--default-shadow);
}

.page[tab="search"]>.center>input:focus {
  background-color: var(--controls-bg-hover);
  transform: translate(0, -4px);
  box-shadow: 0 4px 8px var(--default-shadow);
}

/********************************
 *   _______ _______ _______ _______
 *      /   //      //          /
 *     /   //_____ //_____     /
 *    /   //           //     /
 *   /   //_____ _____//     /
 *********************************/
.page>.center>h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
  transition: all 0.25s;
}

.page>.center>h1::after {
  position: relative;
  left: 0;
  content: ">";
  font-family: Consolas;
  color: #0e73e0;
  transition: all 0.25s;
}

.page>.center>input {
  width: 240px;
  max-width: 100%;
  height: 48px;
  border: none;
  border-radius: 16rem;
  outline: none;
  padding: 16px 16px;
  background-color: var(--controls-bg);
  transition: all 0.25s;
}

.page>.center:hover>h1 {
  margin-left: 4px;
}

.page>.center:hover>h1::after {
  left: 8px;
}

.page>.center:hover>input {
  background-color: var(--default-bg);
  transform: translate(0, -4px);
  box-shadow: 0 4px 8px var(--default-shadow);
}

.page>.center>input:focus {
  background-color: var(--default-bg);
  transform: translate(0, -4px);
  box-shadow: 0 4px 8px var(--default-shadow);
}
